<p id="notice"><%= notice %></p>

<p>
  <strong>Route name:</strong>
  <%= @route.name %>
</p>

<table>
  <thead>
  <tr>
    <th>Поезда</th>
  </tr>
  </thead>
  <tbody>
    <td>
      <% if @route.trains.present? %>
        <% @route.trains.each do |train| %>
          <tr>
            <td>        
              <%= train.number %>
            </td>
          </tr> 
        <% end %>
      <% else %>
        <tr>
          <td>-</td>
        </tr>
      <% end %>
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th>Станции</th>
  </tr>
  </thead>
  <tbody>
    <td>
    <tr>
      <% if @route.railway_stations.present? %>
        <% @route.railway_stations.each do |station| %>
          <tr>
            <td>        
              <%= station.id %>
            </td>
            <td>        
              <%= form_tag admins_update_position_railway_station_path(station), method: :patch do %>
                <%= number_field_tag :position %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Change" %>
              <% end %>
            </td>
          </tr> 
        <% end %>
      <% else %>
        <tr>
          <td>-</td>
        </tr>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_admins_route_path(@route) %> |
<%= link_to 'Back', admins_routes_path %>
