<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<% if @train.route.nil? %>
  <p>Маршрут не назначен</p>
<% else %>
  <p>Поезд ходит по следубщему маршруту:</p>
  <p>
    <%= @train.route.name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
