<p id="notice"><%= notice %></p>

<h1>carriges</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carriges.each do |carrige| %>
      <tr>
        <td><%= carrige.number %></td>
        <td><%= link_to 'Show', carrige %></td>
        <td><%= link_to 'Edit', edit_carrige_path(carrige) %></td>
        <td><%= link_to 'Destroy', carrige, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

