<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @carrige.carrige_type %>
</p>

<p>
  <strong>Up-sits:</strong>
  <%= @carrige.up_sits %>
</p>

<p>
  <strong>Down-sits:</strong>
  <%= @carrige.down_sits %>
</p>

<p>
  <strong>Side-up-sits:</strong>
  <%= @carrige.side_up_sits %>
</p>

<p>
  <strong>Side-down-sits:</strong>
  <%= @carrige.side_down_sits %>
</p>

<p>
  <strong>Sitting-sits:</strong>
  <%= @carrige.sitting_sits %>
</p>

<p>
  <strong>Train:</strong>
  <%= @carrige.train.number %>
</p>

<%= link_to 'Edit', edit_train_carrige_path(@carrige) %> |
<%= link_to 'Back', train_carriges_path %>
