<h1>Tickets:</h1>
<%= form_for @ticket, url: tickets_path(id: @train.id) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this railway_station from being saved:</h2>
      <ul>
        <% @ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.label :initials %>
    <%= f.text_field :initials %>
  </div>

  <div class="container">
    <%= f.label :passport_data %>
    <%= f.text_field :passport_data %>
  </div>

  <%= f.submit 'Buy' %>
<% end %>
