<h1>Find a ticket</h1>

<%= form_tag admin_search_path do %>
  <%= collection_select :search, :arrival_station, RailwayStation.all, :name, :name %>
  <%= collection_select :search, :departure_station, RailwayStation.all, :name, :name %>
  <%= submit_tag 'Find' %>
<% end %>

<strong>Available trains:</strong><br/>

<% if @trains %>
  <% @trains.each do |train| %>
    <strong>Train number: </strong><%= train.number %><br/>
    <strong>Departure: </strong><%= train.route.railway_stations_routes.first.departure_time %><br/>
    <strong>Arrival: </strong><%= train.route.railway_stations_routes.order(:position).last.arrival_time %><br/>
    <%= link_to 'Buy a ticket', new_admins_ticket_path(id: train.id) %><br/>
  <% end %>
<% end %>
